body {
  margin: 0;
  background-image: url("http://images6.fanpop.com/image/photos/36100000/Nature-s-Seasons-image-natures-seasons-36115264-1280-800.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.searchCont {
  display: flex;
  gap: 1rem;
}

.searchBar {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  width: 80%;
  backdrop-filter: blur(20px);
  margin: auto;
  padding: 0 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBar input {
  padding: 1rem;
  border: 1px solid brown;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 0.5rem 0 0 0.5rem;
  background: transparent;
  border-right: none;
  font-size: large;
  letter-spacing: 2px;
  margin: 1rem 0;
}
.searchBar input::placeholder {
  color: rgba(40, 13, 13, 0.761);
}

.searchBtn {
  padding: 1rem;
  border: 1px solid brown;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border-radius: 0 0.5rem 0.5rem 0;
  background: transparent;
  font-size: large;
  letter-spacing: 2px;
  margin: 1rem 0;
}
.units {
  padding: 1rem;
  border: 1px solid brown;
  border-radius: 0.5rem;
  background: transparent;
  font-size: large;
  letter-spacing: 2px;
  margin: 1rem 0;
}
/* .location{
    border: 1px solid red;
} */
.location h1 {
  font-size: 3rem;
  margin-top: 0;
}
.location p {
  text-align: end;
  margin-top: -2rem;
}

@media all and (max-width: 800px) {
  .searchBar{
    width: 70%;
    flex-direction: column;
  }
  .searchCont {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  .searchCont input{
    width: 85%;
    border-right: 1px solid brown;
    border-radius: 0.5rem;
  }
  .searchBtn{
    width: 100%;
    border-radius: 0.5rem;
    margin-top: -1px;
  }
  .units{
    width: 100%;
    margin-top: -1px;
  }
  body{
    background:url(http://i.imgur.com/CxYGDBq.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    position:absolute;
    top:0;
    left:0;
  }
  
}
