.container {
  /* border: 1px solid red; */
  display: flex;
  width: 83.5%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.weatherData {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 44%;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bodyCont iframe {
  border-radius: 1rem;
}
.mainTempImg {
  display: flex;
  gap: 2rem;
}
.mainTempImg img {
  width: 12rem;
  /* border: 1px solid red; */
  margin-top: -1rem;
}
/* .tempCont {
  border: 1px solid red;
} */
.tempCont h1 {
  font-size: 6rem;
  margin-top: -0.1rem;
}
.tempCont p {
  font-size: 1.5rem;
  margin-top: -5rem;
  text-align: end;
}

.bodyCont {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 44%;
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 1rem;
}
.dataCont {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.datas {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  padding-left: 1rem;
}
.datas p {
  margin-top: -1rem;
}
.icon {
  font-size: 1.8rem;
}

@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 90%;
  }
  .weatherData {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .bodyCont {
    width: 80%;
  }
  .dataCont{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .mainTempImg{
    flex-direction: column;
    width: 90%;
  }
  .mainTempImg img{
    margin: auto;
  }
  
}
